# Ignore virtual environment folders and config files
bin/
include/
lib/
pyvenv.cfg

# Ignore generated or temporary data files
crypto_data.csv
historical_data.json
current_price.json

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Docker-specific files if they are generated during build (optional)
#Dockerfile

# Ignore any environment-specific settings and IDE configs
.vscode/
.idea/

# Ignore logs and temporary files
*.log

# Ignore any other development environment folders if not part of the repository
.ipynb_checkpoints

# Python bytecode
*.pyc

# Environment variables and sensitive data
.env
config.json
config.yaml

# Logs and temporary files
*.log
*.tmp
*.swp

# Dataset
crypto_data.csv

# Ignore API key config file
config.py

ttx.1
crypto_data
extra_functionalities
crypto_data1
historical_data_eth_usd_5min_10d
historical_data_eth_usd_5min_100d
historical_data
historical_data_eth_usd_5min_100d

